@import "../../../assets/scss/base/variables";
$input-height: 30px;

.input {
  position: relative;
  display: flex;
  height: 30px;
  flex-direction: column;
  font-size: 1rem;

  input {
    &, &:focus {
      font-size: 1em;
      padding: 5px 0;
    }
  }

  &__placeholder {
    position: absolute;
    transition: all ease-in .2s;

    &_toTop {
      transform: translateY(-$input-height / 1.5);
      font-size: .9em;
    }
  }

  &__container {
    border-bottom: gray 1px solid;
  }

  &__underline {
    height: 2px;
    position: absolute;
    bottom: -3px;
    width: 0;
    transition: width ease-in .2s;
    background-color: $color-primary;

    &__active {
      width: 100%;
    }
  }
}