@import "@scss/base/variables";
@import "@scss/mixins";

.text {
  margin: 0;
  height: 1em;

  background-color: $color-primary-alpha;
  @include skeletonAnimation;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  & + &:last-child {
    width: 80%;
  }

}

